@import "tailwindcss";

@theme {
  --color-neon-blue: #efefef;
  --color-neon-purple: #fff;
  --color-neon-black: #000;
}

:root {
  --neon-blue: #00f2ff;
  --neon-purple: #207924;
  --bg-dark: #050505;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}

.glow-text {
  text-shadow: 0 0 10px rgba(0, 242, 255, 0.7), 0 0 20px rgba(0, 242, 255, 0.4);
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--neon-blue);
  border-radius: 10px;
}

section {
  min-height: 100vh;
  position: relative;
}

.text-glow-blue {
  text-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff66;
}

.text-glow-purple {
  text-shadow: 0 0 10px #bc13fe, 0 0 20px #bc13fe66;
}
